@import "style.css";
/* Página Adicionar lobo */

.addlobo .container {
    position: relative;
    width: 70%;
    height: 50em;

    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;

    background: #FFFFFF;
    border: 4px solid #333333;
    box-sizing: border-box;

    overflow-y:auto;
    overflow-x: hidden;
}

.addlobo h2 {
    margin-top: 5%;
    color:black;
    font-weight: 500;
    font-size: 40pt;
    text-align: center;
    font-weight: 600;
}

.addlobo .input-box {
    margin-left: 5%;
    margin-right: 5%;
}

.addlobo .texto-input {
    display:flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 20pt;
    margin-bottom: 2%;
}

.addlobo .input-box input {
    height:20px;
    background-color: #E6E6E6;

    border: 0.5px solid #333333;
}

.addlobo .input-box textarea {
    background-color: #E6E6E6;
    border: 0.5px solid #333333;
}

.addlobo .texto-input > div {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.addlobo .container-nome {
    display: flex;
    flex-direction:column;
    width:100%;
}

.addlobo .container-anos {
    display: flex;
    flex-direction:column;
    margin-left:1%;
}

#nome, #anos, #foto-link, #descricao{
    font-size: 20px;
    
    font-family: 'Darker Grotesque', sans-serif;
}

#descricao{
    resize: none;
    height: 12em;
}

#nome, #anos, #foto-link{
    height:2em;
}

.addlobo #botaoaddlobo {
    width: 209px;
    height: 60px;
    left: 595px;
    top: 944px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;
    background: #2C5680;
    border: 1px solid #333333;
    box-sizing: border-box;
    transition: all ease-in-out 0.5s;
}   

#botaoaddlobo:hover{
    background: #3d83c9;
    transition: all ease-in-out 0.5s;
}

#divbuttonadd{
    display: flex;
    justify-content: center
}