@import "style.css";
/*Página de Adoção*/

.fotoredonda {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.fotoredonda img {
    width: auto;
    height: 100%;
    margin-left: -50px;
}

textarea {
    resize: none
}

.flexadopttitle{
    display: flex;
    flex-direction: column;
}

.flexadoptphoto{
    display: flex;
    flex-direction: row;
}

#sectionadopt{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-bottom: 5em;
    margin-left: 10em;
    margin-right: 10em;
}

.inputadopt{
    border:0;
    border-bottom: 1px solid black;
    
}

#adotar{
    background: #2C5680;
    border: 1px solid #333333;
    box-sizing: border-box;
    font-family: Darker Grotesque;
    width: 209px;
    height: 60px;
    left: 592px;
    top: 668px;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    color: #FFFFFF;
    transition: all ease-in-out 0.5s;
}
#adotar:hover{
    background: #3d83c9;
    transition: all ease-in-out 0.5s;
}

#adoptwolfnameformtitle{
    font-family: Darker Grotesque;
    font-style: normal;
    font-size: 60px;
    
}

#subidwolf{


font-family: Darker Grotesque;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 19px;
/* identical to box height */


color: #000000;

}

.marginadopttitle{
    margin-left: 60px;
    margin-right: 60px;
}

.formadoptbox{
    font-family: Darker Grotesque;
    font-style: normal;
    font-size: 30px;
}
#divnomeidadeformadopt{
    display: flex;
    margin-top: 34px;
    
}
#nome{
    width: 868px;
    margin-right: 20px;
    margin-bottom: 20px;
}
#idade{
    width: 72px;
}


#email{
    width: 960px;
}

#adotar{
    margin-top: 50px;
    justify-content: space-around;
    display: flex;
}

#centerbuttonadopt{
    display: flex;
    justify-content: center;
   
}

#sectionadopt{
    margin-left: 219px;
    margin-right: 219px;
   
}

#email, #nome, #idade{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Darker Grotesque', sans-serif;
    height: 2em;
}