@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400&display=swap');
@import "style.css";
/* Configurações gerais ################################################*/

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

html {
    font-family: 'Darker Grotesque', sans-serif;
}

.text_wrapper {
    display: flex;
    padding-top: 40px;
    padding-bottom: 120px;
    flex-direction: column;
    text-align: center;
}

p {
    color: white;
    font-size: 17pt;
    font-weight: 400;
    line-height: 15pt;
}

h2 {
    color: #DEB959;
    font-size: 50pt;
    padding-bottom: 50px;
}

a {
    color: inherit;
}

/* Adote um lobinho ################################################*/

#adote {
    background-image: url(../imgs/image-\(3\).png);
    background-position: center;
    background-size: cover;
    background-color: rgb(194, 194, 194);
    background-blend-mode: multiply;
    transition: .2s;
    display: flex;
    padding: 120px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

/* Seção do h1 */

#adote section:nth-child(1) {
    display: flex;
    position: relative;
    justify-content: center;
}

#adote h1 {
    color: white;
    font-size: 80pt;
    padding-bottom: 50px;
}

/* Barrinha branca */

#adote h1::after {
    margin-top: 20px;
    display: flex;
    content: "";
    background: white;
    margin-left: auto;
    margin-right: auto;
    height: 5px;
    width: 20%;
    transition: .5s;
}

/* Animação da barrinha branca */

#adote:hover {
    transition: .3s;
    background-color: rgb(134, 134, 134);
}

#adote:hover h1::after {
    transition: .8s;
    width: 80%;
}

#adote p {
    line-height: 30px;
    color: white;
    font-size: 22pt;
}

/* Sobre ################################################*/

#sobre {
    background-color: #2C567F;
}

#sobre p {
    color: white;
    font-size: 17pt;
    font-weight: lighter 400;
    line-height: 35px;
}

/* Valores ################################################*/

#valores h3 {
    font-size: 20pt;
    color: white;
    padding-bottom: 20px;
    padding-top: 20px;
}

#valores {
    background-color: #333333;
}

#valores div {
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    padding: 20%;
}

#valores ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 100pt;
    padding-right: 100pt;
}

#valores li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
}
