@import "style.css";
/* Página Quem Somos */

.whotitle {
    margin-top: 1em;
    margin-bottom: 1em;
    height: 56px;
    left: 293.3px;
    top: 180px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #000000;
}

.whoparagraph {
    margin: 2em;
    margin-top: 0;
    text-align: center;
    height: 134px;
    left: 219px;
    top: 286px;
    font-family: Darker Grotesque;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: #000000
}