@import "style.css";

#container{
    margin-bottom: 55px;
}

#wolfshowtitle{
    display: flex;
    flex-direction: column;
    text-align: center; 
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 83px;
    margin-top:50px;

    color: #000000;
}

#container{
    margin-left: 219px;
    margin-right: 219px;
    display: flex;
    flex-direction: column;
    
}
#container img {
    box-shadow: -50px -40px #2C5680;
    height: 300px;
}

#paragrafo{

width: 478px;
height: 497px;
left: 701px;
top: 305px;

font-family: Darker Grotesque;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 20px;



color: #000000;

}

#divbuttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

#divimgbuttons{
    display: flex;
    flex-direction: column;
}

#divsectionnotitle{
    display: flex;
    flex-direction: row;
}

p{
    margin-left: 52px
}

.fotolobo{
    width: 654; /* width of container */
    height: 436; /* height of container */
    object-fit: cover;
    
}

#buttonadopt{
    width: 180px;
    height: 56px;
    left: 469px;
    top: 683px;
    border: none;
    background: #7AAC3A;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;


    text-align: center;

    color: #FFFFFF;
    transition: all ease-in-out 0.5s;
    
}

#buttonadopt:hover {
    transition: 0.5s;
    background-color: #8fb85b;
    transition: all ease-in-out 0.5s;
  }

#buttonerase{
    width: 180px;
    height: 56px;
    left: 219px;
    top: 684px;
    border: none;
    background: #DE5959;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;


    text-align: center;

    color: #FFFFFF;
    transition: all ease-in-out 0.5s;
}

#buttonerase:hover {
    background-color: #fd6d6d;
    transition: all ease-in-out 0.5s;
  }