@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
/* Configurações gerais ################################################*/

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

html {
    font-family: 'Darker Grotesque', sans-serif;
}

.text_wrapper {
    display: flex;
    padding-top: 40px;
    padding-bottom: 120px;
    flex-direction: column;
    text-align: center;
}

p {
    color: white;
    font-size: 17pt;
    font-weight: 400;
    line-height: 15pt;
}

h2 {
    color: #DEB959;
    font-size: 50pt;
    padding-bottom: 50px;
}

a {
    color: inherit;
}

input[type="text"]:focus {
    outline:none;
}
/* Barra de navegação ################################################*/

.nav_wrapper {
    list-style-type: none;
    background-color: #85CDF5;
    width: 100%;
}

.navbar ul {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
}

.nav_item {
    font-weight: 700;
    font-size: 30pt;
    color: #222221e7;
}

.navbar img {
    padding-top: 20px;
}

/* Animação da navbar */

.navbar a:hover {
    cursor: pointer;
}

.navbar .nav_item a {
    position: relative;
}

.navbar .nav_item:nth-child(1) a::after {
    display: block;
    position: absolute;
    content: "";
    background: #333333;
    height: 4px;
    width: 0;
    float: left;
    transition: width .7s ease;
}

.navbar .nav_wrapper li:nth-child(3) a::after {
    display: block;
    position: absolute;
    content: "";
    background: #333333;
    height: 4px;
    width: 0;
    right: 0px;
    transition: width .7s ease;
}

.navbar .nav_wrapper:nth-child(1) a:hover::after {
    transition: width 1s ease;
    width: 100%;
}

.navbar .nav_wrapper li:nth-child(3) a:hover::after {
    transition: width 1s ease;
    width: 100%;
}

/* */

/* Footer ################################################*/

footer {
    background-color: #333333;
    color: white;
    padding: 50px;
    padding-right: 200px;
    border-top: 5px solid #DEB959;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer figure {
    vertical-align: middle;
}

footer div {
    font-weight: 500;
    font-size: 12pt;
    color: white;
    display: flex;
}

footer a {
    font-weight: 700;
    font-size: 20pt;
    padding: 0px 8px 2px 8px;
    margin-top: 10px;
    color: #333333;
    background-color: #DEB959;
}

footer ul {
    padding-left: 50px;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer #icones {
    margin-top: 2px;
    display: flex;
    flex-direction: column;
}

footer div img {
    height: 18px;
    margin-top: 5px;
    margin-right: 12px;
}

footer li {
    display: flex;
    margin-bottom: 10px;
}

/* Animação */

footer a {
    transition: .2s;
}

footer ul>div a:hover {
    transition: .3s;
    transform: scale(1.1);
}

/* Lobos ################################################*/

#lobos {
    text-align: justify;
}

#lobos h2 {
    text-align: center;
    margin-bottom: 40px;
}

#lobos h3 {
    font-size: 25pt;
    font-weight: 800;
    color: black;
}

#lobos #idade {
    text-align: start;
    font-size: 16pt;
}

#lobos p {
    max-width: 500px;
    color: black;
}

#lobos .idade {
    padding-bottom: 20px;
    color: rgb(110, 110, 110);
}

#lobos ul {
    display: flex;
    flex-direction: column;
}

#lobos .container {
    height: 250px; 
    width: 400px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid #333333;
}

#lobos li:nth-child(odd) .container {
    box-shadow: -50px -40px #2C5680;
}

#lobos li:nth-child(even) .container {
    box-shadow: 50px -40px #2C5680;
}

#lobos li {
    display: flex;
    flex-direction: row;
    text-align: justify;

    margin-left: auto;
    margin-right: auto;
}

#lobos li:nth-child(even) {
    margin-top: 100px;
    flex-direction: row-reverse;
    text-align: end;
}

#lobos li:nth-child(odd) div {
    margin-right: 4em;
}

#lobos li:nth-child(even) div {
    margin-left: 4em;
}