@import "style.css";

p {
    color:black
}

button {
    font-size: 15pt;
    color: white;

    background-color: #DEB959;
    padding: 10px 20px 10px 20px;
    border: none;
    margin-top: 10px;
    transition: all ease-in-out 0.5s;
}

button:hover{
    background-color: #ffd467;
}

/* Barra de pesquisa */

.filtrar {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.filtrar .check {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.filtrar .check > input {
    margin-top: 0.4em;
    margin-right: 1em;
}

.barra-pesquisa input {
    padding:12px;
    width:840px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Darker Grotesque', sans-serif;
    height: 1em;    
}

/* Lista dos lobos */

.lista-lobos {
    padding-left: 10em;
    padding-right: 10em;
    margin-top: 10%;
}

.lista-lobos li {
    margin-bottom: 10%;
}

.seeadoptwolf{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
ul.paginação {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.paginação li {display: inline;}

ul.paginação li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.5s;
}
ul.paginação li a.active {
    background: #DEB959;
    color: white;
}

ul.paginação li a:hover:not(.active) {background-color: #ddd;}

#ante-rodapé{
    display: flex;
    justify-content: center
}
/* */

